.home-main-text {
    font-size: 32px;
    color: #637463;
    text-align: right;
    padding-left: 100px;
}

.logo-content {
    padding: 40px;
    padding-left: 150px;
}

.header {
    height: 160px;
}

.profile-form {
    color: #637463;
}

label {
    color: #414646
}
.form-control {
    border: 0px;
    border-bottom: solid 1px #A0AFA0;
    border-radius: 0px;
    background-color: #FCFCFC;
    transition: none;
}

.custom-select {
    border: 0px;
    border-bottom: solid 1px #A0AFA0;
    border-radius: 0px;
    background-color: #FCFCFC;
    transition: none;
}


.btn-save-profile {
    margin: 10px;
    background-color: #3CC896;
    color: white;
    font-weight: bold;
}

.btn-cancel {
    font-weight: bold;
    color: #A0AFA0;


}