.movie-poster {
    width: 172px;
    height: 255px;

}

.movie-poster {
    padding: 0px;
}

.card {
    background-color: none;
    border: 0px;
}

.container { position: relative; }
.container img { display: block; }
.container .img-favorite-icon { position: absolute; bottom:210px; left: 140px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    cursor: pointer;
 }